# APP
PORT=3000

# REDIS
REDIS_HOST=redis
REDIS_PORT=6379

# MONGODB
MONGODB_USERNAME=root
MONGODB_PASSWORD=PMBv2WCDbF0JbEKR
MONGODB_DATABASE=app-automatic-whats
MONGODB_HOST=leaf.4kqdikd.mongodb.net
MONGODB_PORT=27017

# ZAPI
ZAPI_BASE_URL=https://api.z-api.io
ZAPI_INSTANCE=3BA26DF23763E1B2646CB259EBB4EE58
ZAPI_TOKEN=C5427CCE76151EFB6C33C16A
