# APP
PORT=3000
APP_SECRET=
JWT_SECRET=

# REDIS
REDIS_HOST=redis
REDIS_PORT=6379

# MONGODB
MONGODB_USERNAME=
MONGODB_PASSWORD=
MONGODB_DATABASE=
MONGODB_HOST=
MONGODB_PORT=27017

# ZAPI
ZAPI_BASE_URL=https://api.z-api.io
